<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://2007.filemail.com/api/file/get?filekey=RqTAowSD4TyDJtd1yBN3fEizvp6-7dBIEUM80SvcNKtpDhF5BjPQ588sgd2-66zZvaPW4Ux2oXcz_SFQRAE&pk_vid=51449ae53353972517326044972ea520</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.chairentertainment.IB2</string>
                <key>bundle-version</key>
                <string>9714.140/string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Infinity Blade II/string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
